<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
    <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
    </form>
</body>
</html>